/POO/Encapsulación/nbproject/private/
/POO/SistemaEmpleados/nbproject/private/
/POO/AtleticoIbero/nbproject/private/
/POO/AtleticoIbero/AtleticoIbero/nbproject/private/
/POO/atleticoibero 2/AtleticoIbero/nbproject/private/
/POO/atleticoibero 2/AtleticoIbero/build/
/POO/atleticoibero 2/AtleticoIbero/dist/
